---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Speedline">
    <main class="container mx-auto px-5">
        <h1 class="text-center mt-48 text-5xl font-extrabold">Speedline</h1>

        <div
            class="text-center mt-10 p-8 max-w-lg shadow-lg bg-white mx-auto rounded-xl"
            x-data="{ inputValue: '' }"
        >
            <div class="flex flex-col space-y-2">
                <input
                    class="form-input"
                    type="password"
                    x-model="inputValue"
                    placeholder="Enter password"
                />

                <template x-if="inputValue != 'polini'">
                    <button
                        x-on:click="alert('Wrong password')"
                        class="w-full btn-primary text-xl">Login</button
                    >
                </template>
                <template x-if="inputValue === 'polini'">
                    <a
                        class="w-full btn-primary text-xl"
                        href="/sl-static/items-list">Login</a
                    >
                </template>
            </div>
        </div>
    </main>
</Layout>
