---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="What do you need?">
    <main class="container mx-auto px-5 max-w-3xl">
        <h1 class="text-center mt-48 text-5xl font-extrabold">
            What do you need?
        </h1>
        <div class="mt-10">
            <div class="grid grid-cols-2 gap-8">
                <Card
                    href="/sl-static/dummy"
                    title="Dummy page"
                    body="Dummy page card for test"
                />
                <Card
                    href="/sl-static/signature"
                    title="Signature generator"
                    body="Generate personal email signature"
                />
                <a href="/sl-static/signature">TEST</a>
            </div>
        </div>
    </main>
</Layout>
