---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My pretty page">
    <main>
        <h1>Welcome to <span class="text-gradient">MY PAGE</span></h1>
        <div class="flex space-x-10">
            <div>Div 1 on the left</div>
            <div>Div 2 on the right</div>
        </div>

        <div x-data="{ message: '' }">
            <input type="text" x-model="message" />

            <span x-text="message"> </span>
        </div>

        <div>Now SL static</div>
    </main>
</Layout>
